In [61]:
import pandas as pd
from sklearn_pandas import DataFrameMapper

In [62]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [63]:
df = pd.read_csv('./listings_summary.csv.zip')

In [64]:
target = 'price'

### Clean Target

In [65]:
from coerce_target import convert_to_num, remove_zeros_in_target, drop_other_price_cols

In [66]:
price = convert_to_num(df[target])

In [67]:
df_coerced_price = df.assign(price = price)

In [68]:
df_coerced_price.shape

(22552, 96)

In [69]:
pruned_df = remove_zeros_in_target(df_coerced_price, target)

In [70]:
import numpy as np
log_price = np.log(pruned_df['price'])

In [71]:
df_log_price = pruned_df.assign(log_price = log_price)

In [72]:
removed_price_cols_df = drop_other_price_cols(df_log_price)

In [73]:
removed_price_cols_df.shape

(22544, 95)

### Remove All Same

In [74]:
from remove_all_same import find_all_same, drop_same_cols, same_cols

In [75]:
all_same_cols = find_all_same(removed_price_cols_df)

In [123]:
# all_same_cols

In [77]:
df_removed_all_same = drop_same_cols(all_same_cols, removed_price_cols_df)

In [78]:
df_removed_all_same.select_dtypes('object').shape

(22544, 54)

### Coerce Num Cols

In [79]:
from convert_nums import from_price_and_percent_steps, find_almost_num_cols

In [80]:
almost_num_cols = find_almost_num_cols(df_removed_all_same)

In [81]:
almost_num_cols
# ['host_response_rate', 'security_deposit', 'cleaning_fee', 'extra_people']

['host_response_rate', 'security_deposit', 'cleaning_fee', 'extra_people']

In [82]:
percent_cols = almost_num_cols[:1]
price_cols = almost_num_cols[1:]
price_percent_steps = from_price_and_percent_steps(price_cols, percent_cols)

In [83]:
to_number_mapper = DataFrameMapper(price_percent_steps, df_out = True)

In [84]:
converted_nums_df = to_number_mapper.fit_transform(df_removed_all_same)

In [85]:
df_with_convert_nums = df_removed_all_same.copy()

In [86]:
df_with_convert_nums[converted_nums_df.columns] = converted_nums_df

In [87]:
df_with_convert_nums.select_dtypes('object').shape

(22544, 50)

### Convert Booleans

In [124]:
from convert_bools import boolean_mapper, top_val_bool_mapper, cols_to_remove

In [125]:
coerced_num_df = df_with_convert_nums.copy()
true_bool_df = boolean_mapper.fit_transform(coerced_num_df)

In [126]:
converted_bools_df = df_with_convert_nums.copy()
converted_bools_df[true_bool_df.columns] = true_bool_df

In [128]:
converted_bools_df.select_dtypes('object').shape

(22544, 42)

In [129]:
almost_bools_coerced = top_val_bool_mapper.fit_transform(converted_bools_df)

In [130]:
almost_bools_df = converted_bools_df.copy()
almost_bools_df[almost_bools_coerced.columns] = almost_bools_coerced

In [131]:
all_bools_coerced_df = almost_bools_df.drop(columns = cols_to_remove)

In [132]:
all_bools_coerced_df.select_dtypes('object').shape

(22544, 38)

### Coerce Categories

In [133]:
from convert_cats import cat_cols, reduce_cat_df, one_hot_steps

In [134]:
reduced_cat_df = reduce_cat_df(all_bools_coerced_df, cat_cols)

In [135]:

# one_hot_steps = [([col], [SimpleImputer(strategy = 'constant', fill_value='na'),
#            OneHotEncoder()]) for col in cat_cols]

In [136]:
one_hot_mapper = DataFrameMapper(one_hot_steps, df_out = True)

In [137]:
cat_one_hot_df = one_hot_mapper.fit_transform(reduced_cat_df)

In [138]:
cat_df = all_bools_coerced_df.drop(columns = cat_cols)
cat_df[cat_one_hot_df.columns] = cat_one_hot_df

In [139]:
cat_df.shape

(22544, 247)

In [140]:
cat_df.select_dtypes('object').shape

(22544, 24)

### Coerce DateTimes

In [141]:
from coerce_date_lib import to_date_cols, add_datepart, date_cols

In [142]:
date_cols_df = to_date_cols(cat_df, date_cols)

In [143]:
[add_datepart(date_cols_df, col) for col in date_cols_df.columns]

[None, None, None, None, None]

In [144]:
date_cols_df[:2]

,last_scrapedYear,last_scrapedMonth,last_scrapedWeek,last_scrapedDay,last_scrapedDayofweek,last_scrapedDayofyear,last_scrapedIs_month_end,last_scrapedIs_month_start,last_scrapedIs_quarter_end,last_scrapedIs_quarter_start,...,last_reviewDay,last_reviewDayofweek,last_reviewDayofyear,last_reviewIs_month_end,last_reviewIs_month_start,last_reviewIs_quarter_end,last_reviewIs_quarter_start,last_reviewIs_year_end,last_reviewIs_year_start,last_reviewElapsed
0,2018,11,45,7,2,311,False,False,False,False,...,28.0,6.0,301.0,False,False,False,False,False,False,1540684800
1,2018,11,45,7,2,311,False,False,False,False,...,1.0,0.0,274.0,False,True,False,True,False,False,1538352000

In [145]:
replaced_dt_df = cat_df.drop(columns = ['last_scraped', 'host_since', 
'calendar_last_scraped', 'first_review','last_review'])

In [146]:
replaced_dt_df[date_cols_df.columns] = date_cols_df

In [147]:
object_replaced_df = replaced_dt_df.select_dtypes('object')

In [148]:
object_replaced_df.shape

(22544, 19)

### Replace Null Values

In [149]:
from handle_na_vals import build_null_mapper, has_na_cols

In [150]:
cols_with_na = has_na_cols(replaced_dt_df)

In [152]:
is_null_mapper = build_null_mapper(replaced_dt_df, cols_with_na)

In [153]:
imputed_null_df = is_null_mapper.fit_transform(replaced_dt_df)

In [154]:
imputed_null_df.isna().any(axis = 0).any()

False

In [155]:
df_with_is_na = replaced_dt_df.drop(columns = cols_with_na)

In [156]:
df_with_is_na[imputed_null_df.columns] = imputed_null_df

In [157]:
df_with_is_na.select_dtypes(exclude = 'object').isna().any(axis = 0).any()

False

### Split and Train

In [172]:
num_df_with_is_na = df_with_is_na.select_dtypes(exclude = 'object')

In [173]:
df_removed_outliers = num_df_with_is_na[num_df_with_is_na['log_price'] < 6]

In [174]:
df_with_is_na.shape, df_removed_outliers.shape

((22544, 342), (22441, 323))

In [175]:
target_cols = ['price', 'log_price']
X = df_removed_outliers.drop(columns = target_cols)
y = df_removed_outliers['price']

In [176]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, test_size = .4)

In [177]:
X_validate, X_test, y_validate, y_test = train_test_split(X_test, y_test, random_state = 1, test_size = .5)

In [178]:
X_train.shape, X_test.shape, X_validate.shape

((13464, 321), (4489, 321), (4488, 321))

In [179]:
from sklearn.linear_model import LinearRegression

In [180]:
model = LinearRegression()

In [181]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [182]:
model.score(X_validate, y_validate)

0.4213321441317682

In [183]:
test_df = X_test.assign(price = y_test)

In [184]:
test_df.to_csv('./listings_test_df.csv')

In [189]:
train = X_train.assign(price = y_train)
validate = X_validate.assign(price = y_validate)

In [190]:
listings_train_df = pd.concat([train, validate])

In [193]:
listings_train_df.to_csv('./listings_train_df.csv')

### Permutations

In [533]:
from eli5.sklearn import PermutationImportance
import eli5
import numpy as np

perm = PermutationImportance(model).fit(X_validate, np.log(y_validate))

exp_df = eli5.explain_weights_df(perm, feature_names = list(X_train.columns))

In [599]:
top_cols = exp_df[:75]

In [600]:
top_feats = top_cols['feature'].values

In [601]:
model = LinearRegression()
model.fit(X_train[top_feats], y_train)
model.score(X_validate[top_feats], y_validate)

0.34788054943397073

### Cols to Examine

* amenities and license